<div class="home_container">
  <h3><b><u> Welcome to Bird Registry </u></b></h3>
  <h4><span class= "text">Use the following api endpoints to access birds data:</span></h4>
  <ul>
    <li> GET /birds - List all birds </li>
    <li> POST /birds - Add a new bird </li>
    <li> GET /birds/{id} - Get details on a specific bird </li>
    <li> DELETE /birds/{id} - Delete a bird by id </li>
  </ul>
</div>